

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
 background: #fbf3ff;
 background:
 linear-gradient(
 #28527a,
 rgba(246,247,249,0.8)),
 url(/img/medellin3.jpg) no-repeat center center fixed;

  
}

.container{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;

}

